@font-face {
    font-family: 'entypo';
    src:url('icons/entypo.eot');
    src:url('icons/entypo.eot?#iefix') format('embedded-opentype'),
        url('icons/entypo.woff') format('woff'),
        url('icons/entypp.ttf') format('truetype'),
        url('icons/entypo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bar-title {
	background-color: #fffbf2;
	background-image: none;
	border-bottom: none;
}

.bar-title .title {
	color: #545454;
	text-shadow: none;
}

.bar-title .button {
	font-family: 'entypo', sans-serif;
	background-color: #fffbf2;
	background-image: none;
	color: #545454;
	text-shadow: none;
	border: 1px solid #545454;
}

.button {
	border-radius: 0;
}